gTTS
numpy
mediapipe; (platform_system == "Darwin" and platform.machine != 'arm64') or platform_system != "Darwin"
mediapipe-silicon; platform_system == "Darwin" and platform.machine == 'arm64'
opencv-python
playsound
PyObjC; platform_system == "Darwin"
pyttsx3
readchar

# explicitly list PyObjC dependencies to add markers
# A dastardly hack from https://github.com/jazzband/pip-tools/issues/1749
pyobjc-core; platform_system == "Darwin"
pyobjc-framework-accounts; platform_system == "Darwin"
pyobjc-framework-addressbook; platform_system == "Darwin"
pyobjc-framework-adsupport; platform_system == "Darwin"
pyobjc-framework-applescriptkit; platform_system == "Darwin"
pyobjc-framework-applescriptobjc; platform_system == "Darwin"
pyobjc-framework-applicationservices; platform_system == "Darwin"
pyobjc-framework-audiovideobridging; platform_system == "Darwin"
pyobjc-framework-authenticationservices; platform_system == "Darwin"
pyobjc-framework-automaticassessmentconfiguration; platform_system == "Darwin"
pyobjc-framework-automator; platform_system == "Darwin"
pyobjc-framework-avfoundation; platform_system == "Darwin"
pyobjc-framework-avkit; platform_system == "Darwin"
pyobjc-framework-businesschat; platform_system == "Darwin"
pyobjc-framework-calendarstore; platform_system == "Darwin"
pyobjc-framework-cfnetwork; platform_system == "Darwin"
pyobjc-framework-cloudkit; platform_system == "Darwin"
pyobjc-framework-cocoa; platform_system == "Darwin"
pyobjc-framework-collaboration; platform_system == "Darwin"
pyobjc-framework-colorsync; platform_system == "Darwin"
pyobjc-framework-contacts; platform_system == "Darwin"
pyobjc-framework-contactsui; platform_system == "Darwin"
pyobjc-framework-coreaudio; platform_system == "Darwin"
pyobjc-framework-coreaudiokit; platform_system == "Darwin"
pyobjc-framework-corebluetooth; platform_system == "Darwin"
pyobjc-framework-coredata; platform_system == "Darwin"
pyobjc-framework-corehaptics; platform_system == "Darwin"
pyobjc-framework-corelocation; platform_system == "Darwin"
pyobjc-framework-coremedia; platform_system == "Darwin"
pyobjc-framework-coremediaio; platform_system == "Darwin"
pyobjc-framework-coremidi; platform_system == "Darwin"
pyobjc-framework-coreml; platform_system == "Darwin"
pyobjc-framework-coremotion; platform_system == "Darwin"
pyobjc-framework-coreservices; platform_system == "Darwin"
pyobjc-framework-corespotlight; platform_system == "Darwin"
pyobjc-framework-coretext; platform_system == "Darwin"
pyobjc-framework-corewlan; platform_system == "Darwin"
pyobjc-framework-cryptotokenkit; platform_system == "Darwin"
pyobjc-framework-devicecheck; platform_system == "Darwin"
pyobjc-framework-dictionaryservices; platform_system == "Darwin"
pyobjc-framework-discrecording; platform_system == "Darwin"
pyobjc-framework-discrecordingui; platform_system == "Darwin"
pyobjc-framework-diskarbitration; platform_system == "Darwin"
pyobjc-framework-dvdplayback; platform_system == "Darwin"
pyobjc-framework-eventkit; platform_system == "Darwin"
pyobjc-framework-exceptionhandling; platform_system == "Darwin"
pyobjc-framework-executionpolicy; platform_system == "Darwin"
pyobjc-framework-externalaccessory; platform_system == "Darwin"
pyobjc-framework-fileprovider; platform_system == "Darwin"
pyobjc-framework-fileproviderui; platform_system == "Darwin"
pyobjc-framework-findersync; platform_system == "Darwin"
pyobjc-framework-fsevents; platform_system == "Darwin"
pyobjc-framework-gamecenter; platform_system == "Darwin"
pyobjc-framework-gamecontroller; platform_system == "Darwin"
pyobjc-framework-gamekit; platform_system == "Darwin"
pyobjc-framework-gameplaykit; platform_system == "Darwin"
pyobjc-framework-imagecapturecore; platform_system == "Darwin"
pyobjc-framework-imserviceplugin; platform_system == "Darwin"
pyobjc-framework-inputmethodkit; platform_system == "Darwin"
pyobjc-framework-installerplugins; platform_system == "Darwin"
pyobjc-framework-instantmessage; platform_system == "Darwin"
pyobjc-framework-intents; platform_system == "Darwin"
pyobjc-framework-iosurface; platform_system == "Darwin"
pyobjc-framework-ituneslibrary; platform_system == "Darwin"
pyobjc-framework-latentsemanticmapping; platform_system == "Darwin"
pyobjc-framework-launchservices; platform_system == "Darwin"
pyobjc-framework-libdispatch; platform_system == "Darwin"
pyobjc-framework-linkpresentation; platform_system == "Darwin"
pyobjc-framework-localauthentication; platform_system == "Darwin"
pyobjc-framework-mapkit; platform_system == "Darwin"
pyobjc-framework-mediaaccessibility; platform_system == "Darwin"
pyobjc-framework-medialibrary; platform_system == "Darwin"
pyobjc-framework-mediaplayer; platform_system == "Darwin"
pyobjc-framework-mediatoolbox; platform_system == "Darwin"
pyobjc-framework-metal; platform_system == "Darwin"
pyobjc-framework-metalkit; platform_system == "Darwin"
pyobjc-framework-metalperformanceshaders; platform_system == "Darwin"
pyobjc-framework-modelio; platform_system == "Darwin"
pyobjc-framework-multipeerconnectivity; platform_system == "Darwin"
pyobjc-framework-naturallanguage; platform_system == "Darwin"
pyobjc-framework-netfs; platform_system == "Darwin"
pyobjc-framework-network; platform_system == "Darwin"
pyobjc-framework-networkextension; platform_system == "Darwin"
pyobjc-framework-notificationcenter; platform_system == "Darwin"
pyobjc-framework-opendirectory; platform_system == "Darwin"
pyobjc-framework-osakit; platform_system == "Darwin"
pyobjc-framework-oslog; platform_system == "Darwin"
pyobjc-framework-pencilkit; platform_system == "Darwin"
pyobjc-framework-photos; platform_system == "Darwin"
pyobjc-framework-photosui; platform_system == "Darwin"
pyobjc-framework-preferencepanes; platform_system == "Darwin"
pyobjc-framework-pushkit; platform_system == "Darwin"
pyobjc-framework-quartz; platform_system == "Darwin"
pyobjc-framework-quicklookthumbnailing; platform_system == "Darwin"
pyobjc-framework-safariservices; platform_system == "Darwin"
pyobjc-framework-scenekit; platform_system == "Darwin"
pyobjc-framework-screensaver; platform_system == "Darwin"
pyobjc-framework-scriptingbridge; platform_system == "Darwin"
pyobjc-framework-searchkit; platform_system == "Darwin"
pyobjc-framework-security; platform_system == "Darwin"
pyobjc-framework-securityfoundation; platform_system == "Darwin"
pyobjc-framework-securityinterface; platform_system == "Darwin"
pyobjc-framework-servicemanagement; platform_system == "Darwin"
pyobjc-framework-social; platform_system == "Darwin"
pyobjc-framework-soundanalysis; platform_system == "Darwin"
pyobjc-framework-speech; platform_system == "Darwin"
pyobjc-framework-spritekit; platform_system == "Darwin"
pyobjc-framework-storekit; platform_system == "Darwin"
pyobjc-framework-syncservices; platform_system == "Darwin"
pyobjc-framework-systemconfiguration; platform_system == "Darwin"
pyobjc-framework-systemextensions; platform_system == "Darwin"
pyobjc-framework-usernotifications; platform_system == "Darwin"
pyobjc-framework-videosubscriberaccount; platform_system == "Darwin"
pyobjc-framework-videotoolbox; platform_system == "Darwin"
pyobjc-framework-vision; platform_system == "Darwin"
pyobjc-framework-webkit; platform_system == "Darwin"
